* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card {
    width: 40%;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: box-shadow 1s;
    -webkit-transition: box-shadow 1s;
    -moz-transition: box-shadow 1s;
    -ms-transition: box-shadow 1s;
    -o-transition: box-shadow 1s;
}

.card-image {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: opacity 2s ease;
    -webkit-transition: opacity 2s ease;
    -moz-transition: opacity 2s ease;
    -ms-transition: opacity 2s ease;
    -o-transition: opacity 2s ease;
}

.card-image:hover {
    opacity: 0.6;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
    padding: 10px 16px;
}

.card-title {
    margin-bottom: 15px;
    font-size: 22px;
}